meter {
    height: 30px;
    width: 11em;
}

.player-box-template, .monster-box-template {
    width: 15vw;
    min-width: 220px;
    height: auto;
    border-radius: .5em;
    padding: 1em;
    text-align: center;
    outline-width: .2em;
}

.x {
    width: .5em;
    margin-left: 3em;
    margin-bottom: -2em;
    filter: opacity(5%);
}

.ac-card-num {
    background-image: url("assets/shield.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.3em;
    background-clip: border-box;
    line-height: 2.5em;
    height: 3em;
}

.major-stats {
    display: inline-block;
}

.condition-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: .3em;
    padding-top: .5em;
    justify-content: center;
}

.condition-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: .1em solid rgb(83, 82, 82);
    padding: .4em;
    background-color: rgb(18, 18, 18);
    border-radius: .5em;
    white-space: nowrap;
}

.pick-condition {
    display: flex;
    align-items: center;
    gap: 1em;
}

.init-add-buttons {
    margin: 0;
}

.select-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
}

.height {
    height: 25vh;
}

.title {
    display: block;
    justify-self: center;
    font-size: 4em;
}

.ur-up-player {
    color: rgb(54, 60, 177);
}

.ur-up-monster {
    color: rgb(187, 66, 66);
}

.arrow-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    align-items: center;
    /* to test arrow bar's height, when I was hiding the
    2nd row's arrow the bar would collapse */
    /* outline: 1px solid red; */
    height: 6em;
}

.arrow {
    font-size: 4em;
    grid-column: 1;
    text-align: center;
    align-content: center;
}

.player-x {
    text-align: left;
}

.player-view-section {
    padding-left: 4em;
    padding-right: 4em;
}